body, html {
  height: 100%;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url('/assets/fondo_pantalla.png'); /* Usar ruta absoluta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.player-image {
  max-width: 50%; /* Reducir el tamaño al 50% */
  height: auto;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.profile-chart {
  width: 100%;
  height: auto; /* Eliminar la altura fija */
  background-color: #f5f5f5;
  margin: 10px 0;
}

.profile-chart canvas {
  width: 100% !important; /* Asegurar que el canvas ocupe todo el ancho */
  height: auto !important; /* Mantener la proporción del canvas */
}

.btn, .btn-start {
  margin-top: 10px;
  padding: 32px 55px; /* Más alto y más ancho */
  font-size: 1.2em;
  border: 1px solid #ccc; /* Borde gris claro */
  background-color: #fff; /* Fondo blanco */
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.1); /* Sombra ligera */
  transition: box-shadow 0.3s ease; /* Transición para la sombra */
}

.btn:hover, .btn-start:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

input[type="color"] {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer; /* Cambiar cursor al pasar el ratón */
}
