<h2 mat-dialog-title class="dialog-header">
  Configurar opciones
</h2>

<mat-dialog-content class="dialog-content">

  <mat-checkbox [(ngModel)]="eliminarPausasLargas">
    ¿Quieres depurar el track para eliminar pausas largas?
  </mat-checkbox>

  <mat-checkbox [(ngModel)]="anadirLogoTitulos">
    ¿Quieres añadir un logo a los títulos (ej. logo de la carrera)?
  </mat-checkbox>

  <mat-checkbox [(ngModel)]="activarMusica">
    ¿Quieres activar la musica?
  </mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()">Continuar</button>
</mat-dialog-actions>
